<footer class="footer section" id="footer">

    <div class="footer__container container grid">

        <div class="footer__content">
            <div class="footer__data">
                <h3>EN SAVOIR PLUS</h3>
                <a href="#">Notre Marque</a>
                <a href="#">Nos Boutiques</a>
            </div>

            <div class="footer__data">
                <h3>INFORMATION</h3>
                <a href="#">Politique de Confidentialité</a>
                <a href="#">Conditions d'Utilisation</a>
            </div>

            <div class="footer__data">
                <h3>MON COMPTE</h3>
                <a href="#">Mon Compte</a>
                <a href="#">Mes Commandes</a>
            </div>

        </div>

        <span class="footer__copyright">eCommerce © | site réalisé par <b><a href="#" >nous</a></b> dans le but d'apprentissage du framework Symfony ;)</span>

    </div>

</footer>